__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
.env
.dev.env
*.env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
.aws
staticfiles
media
static
*.sqlite3
build.sh
mainTest.py
/venv
cache.json
.gitignore
Dockerfile